﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Digitizing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320">
    <!-- favicon links-->
    <link rel="icon" type="image/icon" href="favicon.png" />
    <!-- main css -->
    <link rel="stylesheet" href="~/assets/css/fonts.css" />
    <link rel="stylesheet" href="~/assets/css/custom_animation.css" />
    <link rel="stylesheet" href="~/assets/css/flaticon.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/css/custom_animation.css" />
    <!--revolution-->
    <link href="~/assets/js/plugin/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <link href="~/assets/js/plugin/revolution/css/layers.css" rel="stylesheet" type="text/css">
    <link href="~/assets/js/plugin/revolution/css/navigation.css" rel="stylesheet" type="text/css">
        @* <link href="~/assets/js/plugin/revolution/css/site.css" rel="stylesheet" type="text/css"> *@
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	
	<link href="~/assets/js/plugin/revolution/css/navigation.css" rel="stylesheet" type="text/css">









<!--TEST-->
<!-- Hello World-->
<!-- app-->
<!-- This is test 21 -->

    <!-- favicon links -->
    <link rel="icon" type="image/icon" href="favicon.png">
    <!-- main css -->
    <link rel="stylesheet" href="~/assets/new/css/fonts.css">
    <link rel="stylesheet" href="~/assets/new/css/custom_animation.css">
    <link rel="stylesheet" href="~/assets/new/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.css">
    <link rel="stylesheet" href="~/assets/new/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/new/css/style.css" media="screen">
    <link rel="stylesheet" href="~/assets/new/css/colors/default.css" id="colors">


<link rel="stylesheet" href="css/style.css" media="screen">
<link href="~/assets/new/css/layers.css" rel="stylesheet" type="text/css">
<link href="~/assets/new/css/navigation.css" rel="stylesheet" type="text/css">
<link href="~/assets/new/css/settings.css" rel="stylesheet" type="text/css">




















<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">


</head>

<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
        <meta name="keywords" content="">
        <title>@ViewData["Title"] - Digitizing</title>
		<!-- Favicon -->
        <link href="~/assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="~/assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<link href="~/assets/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
		<link href="~/assets/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet">
		<link href="~/assets/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet">
		<link href="~/assets/plugins/sal/sal.min.css" rel="stylesheet">
		<link href="~/assets/css/theme.min.css" rel="stylesheet">
		<link href="~/assets/css/custom.css" rel="stylesheet">
	
		<!-- Fonts/Icons -->
	<link href="~/assets/plugins/font-awesome/css/all.css" rel="stylesheet">
		<link href="~/assets/plugins/font-awesome/css/all.css" rel="stylesheet">
		<link href="~/assets/plugins/themify/themify-icons.min.css" rel="stylesheet">
		<link href="~/assets/plugins/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

	
	</head>

<body data-preloader="1">

		

		<!-- Header -->
		<div class="header right sticky dark">
			<div class="container">
				<!-- Logo -->
				<div class="header-logo">
					<h3><a asp-action="Index" asp-controller="Home">A One Punching</a></h3>
				</div>
				<!-- Menu -->
				<div class="header-menu">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" asp-action="About" asp-controller="Home">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-action="Contact" asp-controller="Home">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-action="Faq" asp-controller="Home">FAQ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link">Services</a>
							<ul class="nav-dropdown">
								<li class="nav-dropdown-item"><a class="nav-dropdown-link" asp-action="Digitizing" asp-controller="Home">Digitizing</a></li>
								<li class="nav-dropdown-item"><a class="nav-dropdown-link" asp-action="Vector" asp-controller="Home">Vector Art</a></li>
								<li class="nav-dropdown-item"><a class="nav-dropdown-link" asp-action="Patches" asp-controller="Home">Patches</a></li>
								<li class="nav-dropdown-item"><a class="nav-dropdown-link" asp-action="Customized" asp-controller="Home">Customized Merchandize</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- Menu Extra -->
				@* <div class="header-menu-extra">
					<ul class="list-inline">
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
					</ul>
				</div> *@
				<!-- Menu Toggle -->
				<button class="header-toggle">
					<span></span>
				</button>
			</div><!-- end container -->
		</div>
		<!-- end Header -->
		
		@RenderBody();

		<footer>
			<div class="section bg-dark">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-12 col-md-6 text-center text-md-left">
							<ul class="list-inline-dash">
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Clients</a></li>
							</ul>
							<p class="margin-top-10">&copy; 2020 Salman Tahir, All Rights Reserved.</p>
						</div>
						<div class="col-12 col-md-6 text-center text-md-right">
							<ul class="list-inline">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
		</footer>



    <script type="text/javascript" src="~/assets/js/jquery.js"></script>
    <script src="~/assets/plugins/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUma4oJ7_6VbfGNdUYdv6VQ0Ph07Fz0k8"></script>
    <script src="~/assets/plugins/plugins.js"></script>
    <script src="~/assets/js/functions.min.js"></script>
	<script src="~/assets/js/script.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	

    @RenderSection("Scripts", required: false)
</body>
</html>
