                                            body {
                                                margin: 0;
                                                padding: 0;
                                                font-family: sans-serif;
                                            }
                                            
                                            .container1 {
                                                height: 80vh;
                                                width: 100%;
                                                display: -webkit-flex;
                                                /* Safari */
                                                display: flex;
                                                transition: 1s;
                                                overflow: hidden;
                                            }
                                            
                                            .box {
                                                width: 10vw;
                                                text-align: center;
                                                line-height: 80vh;
                                                flex-grow: 1;
                                                background-size: cover;
                                                background-position: center;
                                                transition: 1s;
                                            }
                                            
                                            .head {
                                                margin: 0;
                                                padding: 0;
                                                line-height: 80vh;
                                                font-size: 2em;
                                                background: rgba(0, 0, 0, 0.857);
                                                transition: .5s;
                                                text-align: center;
                                                letter-spacing: 2px;
                                            }
                                            
                                            .box:hover .head .span1 {
                                                color: #262626;
                                                background: rgba(255, 255, 255, 0.8);
                                                letter-spacing: 10px;
                                            }
                                            
                                            .box:hover .head {
                                                background: rgba(0, 0, 0, 0.337);
                                            }
                                            
                                            .box:hover {
                                                width: 30vw;
                                                transform: scale(1.001);
                                                transition: 1.5;
                                            }
                                            
                                            .span1 {
                                                color: #fff;
                                                width: 100%;
                                                transition: 1s;
                                                padding: 25px 20px;
                                                background: rgba(255, 255, 255, 0);
                                                text-transform: uppercase;
                                            }
                                            
                                            .box:nth-child(1) {
                                                background: url(https://i.pinimg.com/originals/3b/bd/f6/3bbdf61f364e833f69b419146d896da0.png);
                                                background-size: cover;
                                                background-position: center;
                                            }
                                            
                                            .box:nth-child(2) {
                                                background: url(https://i.pinimg.com/736x/8d/aa/b5/8daab574cbd2ab3abf623da9bbd42996.jpg);
                                                background-size: cover;
                                                background-position: center;
                                            }
                                            
                                            .box:nth-child(3) {
                                                background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9933c833084943.569f5078b89a4.jpg);
                                                background-size: cover;
                                                background-position: center;
                                            }
                                            
                                            .box:nth-child(4) {
                                                background: url(https://www.scifinow.co.uk/wp-content/uploads/2019/08/onward_ver2_xxlg-616x900.jpg);
                                                background-size: cover;
                                                background-position: center;
                                            }
                                            
                                            @media only screen and (max-width: 600px) {
                                                .head {
                                                    font-size: 1em;
                                                    letter-spacing: 0;
                                                }
                                                .box:hover .head .span1 {
                                                    color: #262626;
                                                    background: rgba(255, 255, 255, 0.8);
                                                    letter-spacing: 1px;
                                                }
                                            }
                                            
                                             ::-webkit-scrollbar {
                                                width: 10px;
                                                background-color: #F5F5F5;
                                            }
                                            
                                             ::-webkit-scrollbar-thumb {
                                                background-color: #f90a23;
                                                background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
                                            }
                                            
                                             ::-webkit-scrollbar-track {
                                                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                                                background-color: #F5F5F5;
                                            }
                                            
                                            .heading-page {
                                                text-transform: uppercase;
                                                font-size: 43px;
                                                font-weight: bolder;
                                                letter-spacing: 3px;
                                                color: white;
                                            }
                                            
                                            a {
                                                color: inherit;
                                                -webkit-transition: all 0.3s ease 0s;
                                                -moz-transition: all 0.3s ease 0s;
                                                -o-transition: all 0.3s ease 0s;
                                                transition: all 0.3s ease 0s;
                                            }
                                            
                                            a:hover,
                                            a:focus {
                                                color: #ababab;
                                                text-decoration: none;
                                                outline: 0 none;
                                            }
                                            
                                            h1,
                                            h2,
                                            h3,
                                            h4,
                                            h5,
                                            h6 {
                                                color: #1e2530;
                                                font-family: "Open Sans", sans-serif;
                                                margin: 0;
                                                line-height: 1.3;
                                            }
                                            
                                            p {
                                                margin-bottom: 20px;
                                            }
                                            
                                            p:last-child {
                                                margin-bottom: 0;
                                            }
                                            /*
   * Selection color
   */
                                            
                                             ::-moz-selection {
                                                background-color: #FA6862;
                                                color: #fff;
                                            }
                                            
                                             ::selection {
                                                background-color: #FA6862;
                                                color: #fff;
                                            }
                                            /*
   *  Reset bootstrap's default style
   */
                                            
                                            .form-control::-webkit-input-placeholder,
                                             ::-webkit-input-placeholder {
                                                opacity: 1;
                                                color: inherit;
                                            }
                                            
                                            .form-control:-moz-placeholder,
                                             :-moz-placeholder {
                                                /* Firefox 18- */
                                                opacity: 1;
                                                color: inherit;
                                            }
                                            
                                            .form-control::-moz-placeholder,
                                             ::-moz-placeholder {
                                                /* Firefox 19+ */
                                                opacity: 1;
                                                color: inherit;
                                            }
                                            
                                            .form-control:-ms-input-placeholder,
                                             :-ms-input-placeholder {
                                                opacity: 1;
                                                color: inherit;
                                            }
                                            
                                            button,
                                            input,
                                            select,
                                            textarea,
                                            label {
                                                font-weight: 400;
                                            }
                                            
                                            .btn {
                                                -webkit-transition: all 0.3s ease 0s;
                                                -moz-transition: all 0.3s ease 0s;
                                                -o-transition: all 0.3s ease 0s;
                                                transition: all 0.3s ease 0s;
                                            }
                                            
                                            .btn:hover,
                                            .btn:focus,
                                            .btn:active:focus {
                                                outline: 0 none;
                                            }
                                            
                                            .btn-primary {
                                                background-color: #FA6862;
                                                border: 0;
                                                font-family: "Open Sans", sans-serif;
                                                font-weight: 700;
                                                height: 48px;
                                                line-height: 50px;
                                                padding: 0 42px;
                                                text-transform: uppercase;
                                            }
                                            
                                            .btn-primary:hover,
                                            .btn-primary:focus,
                                            .btn-primary:active,
                                            .btn-primary:active:focus {
                                                background-color: #f9423a;
                                            }
                                            
                                            .btn-border {
                                                border: 1px solid #d7d8db;
                                                display: inline-block;
                                                padding: 7px;
                                            }
                                            /*
   *  CSS Helper Class
   */
                                            
                                            .clear:before,
                                            .clear:after {
                                                content: " ";
                                                display: table;
                                            }
                                            
                                            .clear:after {
                                                clear: both;
                                            }
                                            
                                            .pt-table {
                                                display: table;
                                                width: 100%;
                                            }
                                            
                                            .pt-tablecell {
                                                display: table-cell;
                                                vertical-align: middle;
                                            }
                                            
                                            .overlay {
                                                position: absolute;
                                                left: 0;
                                                top: 0;
                                                width: 100%;
                                                height: 100%;
                                            }
                                            
                                            .relative {
                                                position: relative;
                                            }
                                            
                                            .primary,
                                            .link:hover {
                                                color: #FA6862;
                                            }
                                            
                                            .no-gutter {
                                                margin-left: 0;
                                                margin-right: 0;
                                            }
                                            
                                            .no-gutter>[class^="col-"] {
                                                padding-left: 0;
                                                padding-right: 0;
                                            }
                                            
                                            .flex {
                                                display: -webkit-box;
                                                display: -webkit-flex;
                                                display: -moz-flex;
                                                display: -ms-flexbox;
                                                display: flex;
                                            }
                                            
                                            .flex-middle {
                                                -webkit-box-align: center;
                                                -ms-flex-align: center;
                                                -webkit-align-items: center;
                                                -moz-align-items: center;
                                                align-items: center;
                                            }
                                            
                                            .space-between {
                                                -webkit-box-pack: justify;
                                                -ms-flex-pack: justify;
                                                -webkit-justify-content: space-between;
                                                -moz-justify-content: space-between;
                                                justify-content: space-between;
                                            }
                                            
                                            .nicescroll-cursors {
                                                background: #FA6862 !important;
                                            }
                                            
                                            .preloader {
                                                bottom: 0;
                                                left: 0;
                                                position: fixed;
                                                right: 0;
                                                top: 0;
                                                z-index: 1000;
                                                display: -webkit-box;
                                                display: -webkit-flex;
                                                display: -moz-flex;
                                                display: -ms-flexbox;
                                                display: flex;
                                            }
                                            
                                            .preloader.active.hidden {
                                                display: none;
                                            }
                                            
                                            .loading-mask {
                                                background-color: #FA6862;
                                                height: 100%;
                                                left: 0;
                                                position: absolute;
                                                top: 0;
                                                width: 20%;
                                                -webkit-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
                                                -moz-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
                                                -o-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
                                                transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
                                            }
                                            
                                            .loading-mask:nth-child(2) {
                                                left: 20%;
                                                -webkit-transition-delay: 0.1s;
                                                -moz-transition-delay: 0.1s;
                                                -o-transition-delay: 0.1s;
                                                transition-delay: 0.1s;
                                            }
                                            
                                            .loading-mask:nth-child(3) {
                                                left: 40%;
                                                -webkit-transition-delay: 0.2s;
                                                -moz-transition-delay: 0.2s;
                                                -o-transition-delay: 0.2s;
                                                transition-delay: 0.2s;
                                            }
                                            
                                            .loading-mask:nth-child(4) {
                                                left: 60%;
                                                -webkit-transition-delay: 0.3s;
                                                -moz-transition-delay: 0.3s;
                                                -o-transition-delay: 0.3s;
                                                transition-delay: 0.3s;
                                            }
                                            
                                            .loading-mask:nth-child(5) {
                                                left: 80%;
                                                -webkit-transition-delay: 0.4s;
                                                -moz-transition-delay: 0.4s;
                                                -o-transition-delay: 0.4s;
                                                transition-delay: 0.4s;
                                            }
                                            
                                            .preloader.active.done {
                                                z-index: 0;
                                            }
                                            
                                            .preloader.active .loading-mask {
                                                width: 0;
                                            }
                                            /*------------------------------------------------
      Start Styling
  -------------------------------------------------*/
                                            
                                            .mt20 {
                                                margin-top: 20px;
                                            }
                                            
                                            .site-wrapper {
                                                border-top: 4px solid #ff0037;
                                            }
                                            
                                            .page-close {
                                                font-size: 30px;
                                                position: absolute;
                                                right: 30px;
                                                top: 30px;
                                                z-index: 100;
                                            }
                                            
                                            .page-title {
                                                margin-bottom: 75px;
                                            }
                                            
                                            .page-title img {
                                                margin-bottom: 20px;
                                            }
                                            
                                            .page-title h2 {
                                                font-size: 68px;
                                                margin-bottom: 25px;
                                                position: relative;
                                                z-index: 0;
                                                font-weight: 900;
                                                text-transform: uppercase;
                                            }
                                            
                                            .page-title p {
                                                font-size: 16px;
                                            }
                                            
                                            .page-title .title-bg {
                                                color: rgba(30, 37, 48, 0.07);
                                                font-size: 158px;
                                                left: 0;
                                                letter-spacing: 10px;
                                                line-height: 0.7;
                                                position: absolute;
                                                right: 0;
                                                top: 50%;
                                                z-index: -1;
                                                -webkit-transform: translateY(-50%);
                                                -moz-transform: translateY(-50%);
                                                -ms-transform: translateY(-50%);
                                                -o-transform: translateY(-50%);
                                                transform: translateY(-50%);
                                            }
                                            
                                            .section-title {
                                                margin-bottom: 20px;
                                            }
                                            
                                            .section-title h3 {
                                                display: inline-block;
                                                position: relative;
                                            }
                                            
                                            .section-title h3::before,
                                            .section-title h3::after {
                                                content: "";
                                                height: 2px;
                                                position: absolute;
                                                bottom: 8px;
                                                left: -webkit-calc(100% + 14px);
                                                left: -moz-calc(100% + 14px);
                                                left: calc(100% + 14px);
                                            }
                                            
                                            .section-title h3::before {
                                                background-color: #1e2530;
                                                width: 96px;
                                                bottom: 14px;
                                            }
                                            
                                            .section-title h3::after {
                                                background-color: #FA6862;
                                                width: 73px;
                                            }
                                            
                                            .section-title.light h3 {
                                                color: #fff;
                                            }
                                            
                                            .section-title.light h3::before {
                                                background-color: #fff;
                                            }
                                            
                                            .page-nav {
                                                bottom: 40px;
                                                left: 0;
                                                position: absolute;
                                                right: 0;
                                            }
                                            
                                            .page-nav span {
                                                font-family: "Open Sans", sans-serif;
                                                font-size: 14px;
                                                font-weight: 500;
                                                line-height: 0.9;
                                                text-transform: uppercase;
                                            }
                                            /*------------------------------------------------
      Home Page
  -------------------------------------------------*/
                                            
                                            .hexagon-item:first-child {
                                                margin-left: 0;
                                            }
                                            
                                            .page-home {
                                                background-position: center center;
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                                vertical-align: middle;
                                            }
                                            
                                            .page-home .overlay {
                                                background-color: rgba(14, 17, 24, 0.97);
                                            }
                                            /* End of container */
                                            
                                            .hexagon-item {
                                                cursor: pointer;
                                                width: 200px;
                                                height: 173.20508px;
                                                float: left;
                                                margin-left: -29px;
                                                z-index: 0;
                                                position: relative;
                                                -webkit-transform: rotate(30deg);
                                                -moz-transform: rotate(30deg);
                                                -ms-transform: rotate(30deg);
                                                -o-transform: rotate(30deg);
                                                transform: rotate(30deg);
                                            }
                                            
                                            .hexagon-item:first-child {
                                                margin-left: 0;
                                            }
                                            
                                            .hexagon-item:hover {
                                                z-index: 1;
                                            }
                                            
                                            .hexagon-item:hover .hex-item:last-child {
                                                opacity: 1;
                                                -webkit-transform: scale(1.3);
                                                -moz-transform: scale(1.3);
                                                -ms-transform: scale(1.3);
                                                -o-transform: scale(1.3);
                                                transform: scale(1.3);
                                            }
                                            
                                            .hexagon-item:hover .hex-item:first-child {
                                                opacity: 1;
                                                -webkit-transform: scale(1.2);
                                                -moz-transform: scale(1.2);
                                                -ms-transform: scale(1.2);
                                                -o-transform: scale(1.2);
                                                transform: scale(1.2);
                                            }
                                            
                                            .hexagon-item:hover .hex-item:first-child div:before,
                                            .hexagon-item:hover .hex-item:first-child div:after {
                                                height: 5px;
                                            }
                                            
                                            .hexagon-item:hover .hex-item div::before,
                                            .hexagon-item:hover .hex-item div::after {
                                                background-color: #ff0037;
                                            }
                                            
                                            .hexagon-item:hover .hex-content svg {
                                                -webkit-transform: scale(0.97);
                                                -moz-transform: scale(0.97);
                                                -ms-transform: scale(0.97);
                                                -o-transform: scale(0.97);
                                                transform: scale(0.97);
                                            }
                                            
                                            .page-home .hexagon-item:nth-last-child(1),
                                            .page-home .hexagon-item:nth-last-child(2),
                                            .page-home .hexagon-item:nth-last-child(3) {
                                                -webkit-transform: rotate(30deg) translate(87px, -80px);
                                                -moz-transform: rotate(30deg) translate(87px, -80px);
                                                -ms-transform: rotate(30deg) translate(87px, -80px);
                                                -o-transform: rotate(30deg) translate(87px, -80px);
                                                transform: rotate(30deg) translate(87px, -80px);
                                            }
                                            
                                            .hex-item {
                                                position: absolute;
                                                top: 0;
                                                left: 50px;
                                                width: 100px;
                                                height: 173.20508px;
                                            }
                                            
                                            .hex-item:first-child {
                                                z-index: 0;
                                                -webkit-transform: scale(0.9);
                                                -moz-transform: scale(0.9);
                                                -ms-transform: scale(0.9);
                                                -o-transform: scale(0.9);
                                                transform: scale(0.9);
                                                -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                                                -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                                                -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                                                transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                                            }
                                            
                                            .hex-item:last-child {
                                                transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                                                z-index: 1;
                                            }
                                            
                                            .hex-item div {
                                                box-sizing: border-box;
                                                position: absolute;
                                                top: 0;
                                                width: 100px;
                                                height: 173.20508px;
                                                -webkit-transform-origin: center center;
                                                -moz-transform-origin: center center;
                                                -ms-transform-origin: center center;
                                                -o-transform-origin: center center;
                                                transform-origin: center center;
                                            }
                                            
                                            .hex-item div::before,
                                            .hex-item div::after {
                                                background-color: #1e2530;
                                                content: "";
                                                position: absolute;
                                                width: 100%;
                                                height: 3px;
                                                -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
                                                -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
                                                -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
                                                transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
                                            }
                                            
                                            .hex-item div:before {
                                                top: 0;
                                            }
                                            
                                            .hex-item div:after {
                                                bottom: 0;
                                            }
                                            
                                            .hex-item div:nth-child(1) {
                                                -webkit-transform: rotate(0deg);
                                                -moz-transform: rotate(0deg);
                                                -ms-transform: rotate(0deg);
                                                -o-transform: rotate(0deg);
                                                transform: rotate(0deg);
                                            }
                                            
                                            .hex-item div:nth-child(2) {
                                                -webkit-transform: rotate(60deg);
                                                -moz-transform: rotate(60deg);
                                                -ms-transform: rotate(60deg);
                                                -o-transform: rotate(60deg);
                                                transform: rotate(60deg);
                                            }
                                            
                                            .hex-item div:nth-child(3) {
                                                -webkit-transform: rotate(120deg);
                                                -moz-transform: rotate(120deg);
                                                -ms-transform: rotate(120deg);
                                                -o-transform: rotate(120deg);
                                                transform: rotate(120deg);
                                            }
                                            
                                            .hex-content {
                                                color: #fff;
                                                display: block;
                                                height: 180px;
                                                margin: 0 auto;
                                                position: relative;
                                                text-align: center;
                                                transform: rotate(-30deg);
                                                width: 156px;
                                            }
                                            
                                            .hex-content .hex-content-inner {
                                                left: 50%;
                                                margin: -3px 0 0 2px;
                                                position: absolute;
                                                top: 50%;
                                                -webkit-transform: translate(-50%, -50%);
                                                -moz-transform: translate(-50%, -50%);
                                                -ms-transform: translate(-50%, -50%);
                                                -o-transform: translate(-50%, -50%);
                                                transform: translate(-50%, -50%);
                                            }
                                            
                                            .hex-content .icon {
                                                display: block;
                                                font-size: 36px;
                                                line-height: 30px;
                                                margin-bottom: 11px;
                                            }
                                            
                                            .hex-content .title {
                                                display: block;
                                                font-family: "Open Sans", sans-serif;
                                                font-size: 14px;
                                                letter-spacing: 1px;
                                                line-height: 24px;
                                                text-transform: uppercase;
                                            }
                                            
                                            .hex-content svg {
                                                left: -7px;
                                                position: absolute;
                                                top: -13px;
                                                transform: scale(0.87);
                                                z-index: -1;
                                                -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
                                                -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
                                                -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
                                                transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
                                            }
                                            
                                            .hex-content:hover {
                                                color: #fff;
                                            }
                                            
                                            .page-home .hexagon-item:nth-last-child(1),
                                            .page-home .hexagon-item:nth-last-child(2),
                                            .page-home .hexagon-item:nth-last-child(3) {
                                                -webkit-transform: rotate(30deg) translate(87px, -80px);
                                                -moz-transform: rotate(30deg) translate(87px, -80px);
                                                -ms-transform: rotate(30deg) translate(87px, -80px);
                                                -o-transform: rotate(30deg) translate(87px, -80px);
                                                transform: rotate(30deg) translate(87px, -80px);
                                            }
                                            /*------------------------------------------------
      Welcome Page
  -------------------------------------------------*/
                                            
                                            .author-image-large {
                                                position: absolute;
                                                right: 0;
                                                top: 0;
                                            }
                                            
                                            .author-image-large img {
                                                height: -webkit-calc(100vh - 4px);
                                                height: -moz-calc(100vh - 4px);
                                                height: calc(100vh - 4px);
                                            }
                                            
                                            @media (min-width: 1200px) {
                                                .col-lg-offset-2 {
                                                    margin-left: 16.66666667%;
                                                }
                                            }
                                            
                                            @media (min-width: 1200px) {
                                                .col-lg-8 {
                                                    width: 66.66666667%;
                                                }
                                            }
                                            
                                            .hexagon-item:first-child {
                                                margin-left: 0;
                                            }
                                            
                                            .pt-table.desktop-768 .pt-tablecell {
                                                padding-bottom: 110px;
                                                padding-top: 60px;
                                            }
                                            
                                            .hexagon-item:hover .icon i {
                                                color: #ff0037;
                                                transition: 0.6s;
                                            }
                                            
                                            .hexagon-item:hover .title {
                                                -webkit-animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                                animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                            }
                                            /***************************/
                                            
                                            @-webkit-keyframes focus-in-contract {
                                                0% {
                                                    letter-spacing: 1em;
                                                    -webkit-filter: blur(12px);
                                                    filter: blur(12px);
                                                    opacity: 0;
                                                }
                                                100% {
                                                    -webkit-filter: blur(0px);
                                                    filter: blur(0px);
                                                    opacity: 1;
                                                }
                                            }
                                            
                                            @keyframes focus-in-contract {
                                                0% {
                                                    letter-spacing: 1em;
                                                    -webkit-filter: blur(12px);
                                                    filter: blur(12px);
                                                    opacity: 0;
                                                }
                                                100% {
                                                    -webkit-filter: blur(0px);
                                                    filter: blur(0px);
                                                    opacity: 1;
                                                }
                                            }
                                            
                                            @media only screen and (max-width: 767px) {
                                                .hexagon-item {
                                                    float: none;
                                                    margin: 0 auto 50px;
                                                }
                                                .hexagon-item:first-child {
                                                    margin-left: auto;
                                                }
                                                .page-home .hexagon-item:nth-last-child(1),
                                                .page-home .hexagon-item:nth-last-child(2),
                                                .page-home .hexagon-item:nth-last-child(3) {
                                                    -webkit-transform: rotate(30deg) translate(0px, 0px);
                                                    -moz-transform: rotate(30deg) translate(0px, 0px);
                                                    -ms-transform: rotate(30deg) translate(0px, 0px);
                                                    -o-transform: rotate(30deg) translate(0px, 0px);
                                                    transform: rotate(30deg) translate(0px, 0px);
                                                }
                                            }
                                            
                                            .faq-nav {
                                                flex-direction: column;
                                                margin: 0 0 32px;
                                                border-radius: 2px;
                                                border: 1px solid #ddd;
                                                box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
                                            }
                                            
                                            .faq-nav .nav-link {
                                                position: relative;
                                                display: block;
                                                margin: 0;
                                                padding: 13px 16px;
                                                background-color: #fff;
                                                border: 0;
                                                border-bottom: 1px solid #ddd;
                                                border-radius: 0;
                                                color: #616161;
                                                transition: background-color .2s ease;
                                            }
                                            
                                            .faq-nav .nav-link:hover {
                                                background-color: #f6f6f6;
                                            }
                                            
                                            .faq-nav .nav-link.active {
                                                background-color: #f6f6f6;
                                                font-weight: 700;
                                                color: rgba(0, 0, 0, 0.87);
                                            }
                                            
                                            .faq-nav .nav-link:last-of-type {
                                                border-bottom-left-radius: 2px;
                                                border-bottom-right-radius: 2px;
                                                border-bottom: 0;
                                            }
                                            
                                            .faq-nav .nav-link i.mdi {
                                                margin-right: 5px;
                                                font-size: 18px;
                                                position: relative;
                                            }
                                            
                                            .tab-content {
                                                box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
                                            }
                                            
                                            .tab-content .card {
                                                border-radius: 0;
                                            }
                                            
                                            .tab-content .card-header {
                                                padding: 15px 16px;
                                                border-radius: 0;
                                                background-color: #f6f6f6;
                                            }
                                            
                                            .tab-content .card-header h5 {
                                                margin: 0;
                                            }
                                            
                                            .tab-content .card-header h5 button {
                                                display: block;
                                                width: 100%;
                                                padding: 0;
                                                border: 0;
                                                font-weight: 700;
                                                color: rgba(0, 0, 0, 0.87);
                                                text-align: left;
                                                white-space: normal;
                                            }
                                            
                                            .tab-content .card-header h5 button:hover,
                                            .tab-content .card-header h5 button:focus,
                                            .tab-content .card-header h5 button:active,
                                            .tab-content .card-header h5 button:hover:active {
                                                text-decoration: none;
                                            }
                                            
                                            .tab-content .card-body p {
                                                color: #616161;
                                            }
                                            
                                            .tab-content .card-body p:last-of-type {
                                                margin: 0;
                                            }
                                            
                                            .accordion>.card:not(:first-child) {
                                                border-top: 0;
                                            }
                                            
                                            .collapse.show .card-body {
                                                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                                            }
                                            
                                            .h1 {
                                                text-align: center;
                                            }
                                            
                                            .m11 {
                                                height: 2.5em;
                                                width: 75%;
                                                margin-left: 12.5%;
                                                background: #6bba70;
                                                color: #fff;
                                                text-align: center;
                                                padding-top: .5em;
                                                transform: rotate(-1deg);
                                                box-shadow: 3px 5px 2px #999;
                                            }