<div class="section-xl bg-image parallax" data-bg-src="../assets/images/111.jpg" style="background-image: url(&quot;../assets/images/111.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 0px;">
			<div class="bg-black-06">
				<div class="container text-center">
					<div class="row">
						<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
							<h1 class="display-4 margin-0">We Are A One</h1>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div><!-- end bg-black-* -->
		</div>

<div class="section">
			<div class="container">
				<div class="row col-spacing-40">
					<div class="col-12 col-lg-6">
						<p>Aone Punching is a “one-stop” digitizing/vector art service provider, which specializes in digitizing, vector art designing, custom patches & customized merchandise. With over 10 years of experience, we are the first choice of customers throughout the globe. We have a footprint of over 5000+ satisfied clients from different parts of the world including USA, Canada, UK, Australia etc. </p>
					</div>
					<div class="col-12 col-lg-6">
						<p>Our success in digitizing and vector art is the result of our dedication to provide best quality results with 100% customer satisfaction. We run all our operations in-house which gives us an edge over competitive pricing, maintaining quality standards and meeting short timelines. We are equipped with the latest technology of machines and software plus we have a team of expert professionals working round the clock 24/7 managing clients and fulfilling guidelines.</p>
					</div>
				</div><!-- end row -->
				<div class="row margin-top-70 text-center">
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter">47</span></h2>
						<p>Professionals</p>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter">100</span>+</h2>
						<p>Projects Done</p>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter">36</span></h2>
						<p>Months in Business</p>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter">300</span>+</h2>
						<p>Happy Clients</p>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter">14</span></h2>
						<p>Partners</p>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter">20</span>+</h2>
						<p>Award Wins</p>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>

<div class="section-lg bg-image bg-image-gradient-top" data-bg-src="../assets/images/222.jpg" style="background-image: url(&quot;../assets/images/222.jpg&quot;);">
			<div class="bg-white-07">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
							<h2 class="font-weight-light margin-0">We believe in partnering with our esteemed customers to improve their business performance and give them happy customers.</h2>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
		</div>


<hr class="bg-black-01">

<div class="section padding-top-0">
			<div class="container">
				<div class="row">
					<div class="col-4 col-md-4">
						<h3 class="font-weight-light">Vision &</h3>
						<h1>Mission</h1>
					</div>
					<div class="col-8 col-md-8">
						<p>To attain the highest level of customer satisfaction by becoming the first choice for digitizing, vector art, custom patches & customized merchandise for organizations who are constantly striving to strengthen their brand equity and trying to achieve deeper market penetration in current challenging and competitive business environments.</p>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>


<div class="section">
			<div class="container">
				<div class="margin-bottom-70">
					<div class="row text-center">
						<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
							<h2 class="font-weight-light">Why choose us</h2>
							<div class="divider-width-50px">
								<hr class="bg-black-07">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<ol class="list-ordered style-3">
					<li>Fastest turnaround</li>
					<li>24/7 customer support</li>
					<li>Easy & Secure Payments</li>
					<li>Competitive & Flexible Pricing</li>
					
					<li>Free minor revisions</li>
					<li>Free Quote with Adobe Sew-out</li>
					<li>All orders are machine tested for any errors</li>
				</ol>
				</div>
			</div><!-- end container -->
		</div>


		<div class="section-lg">
			<div class="container text-center">
				<div class="margin-bottom-70">
					<div class="row text-center">
						<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
							<h3 class="font-weight-normal uppercase letter-spacing-2 margin-0">What We Do</h3>
							<div class="divider-dots divider-dots-sm">
								<span class="bg-dark"></span><span class="bg-dark"></span><span class="bg-dark"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row col-spacing-40 icon-5xl">
					<!-- Service box 1 -->
					<div class="col-12 col-md-4">
						<div class="margin-bottom-20">
							<i class="ti-camera text-black"></i>
						</div>
						<h5 class="font-weight-normal">Digitizing</h5>
						<p>We convert your given Artwork into a digitizing file which can be run over your machine.</p>
					</div>
					<!-- Service box 2 -->
					<div class="col-12 col-md-4">
						<div class="margin-bottom-20">
							<i class="ti-world text-black"></i>
						</div>
						<h5 class="font-weight-normal">Vector Art</h5>
						<p>Images provided by customers are converted into vector files which could be used for printing purpose. </p>
					</div>
					<!-- Service box 3 -->
					<div class="col-12 col-md-4">
						<div class="margin-bottom-20">
							<i class="ti-star text-black"></i>
						</div>
						<h5 class="font-weight-normal">Patches</h5>
						<p>We make custom patches of your given artwork in all sizes and backings.</p>
					</div>
					

					<!-- Service box 3 -->
					<div class="col-12 col-md-4">
					</div>
					

					<!-- Service box 3 -->
					<div class="col-12 col-md-4">
						<div class="margin-bottom-20">
							<i class="ti-star text-black"></i>
						</div>
						<h5 class="font-weight-normal">Customized Merchandise</h5>
						<p>Get customized shirts, caps, bags, hoodies etc. made from us to showcase your company.</p>
					</div>
					

					<!-- Service box 3 -->
					<div class="col-12 col-md-4">
					</div>
					
				</div><!-- end row -->
			</div><!-- end container -->
		</div>