<div class="section-xl bg-image parallax" data-bg-src="../assets/images/agency-classic-bg.jpg" style="background-image: url(&quot;../assets/images/agency-classic-bg.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 0px;">
			<div class="bg-black-06">
				<div class="container text-center">
					<h1 class="font-weight-normal margin-0">Do you have a challenge for us</h1>
				</div><!-- end container -->
			</div>
		</div>


<div class="section">
			<div class="container">
				<div class="row icon-4xl">
					<div class="col-12 col-sm-6 col-md-3">
						<i class="ti ti-email text-dark margin-bottom-20"></i>
						<h6 class="font-weight-normal margin-0">Email:</h6>
						<p>contact@email.com</p>
					</div>
					<div class="col-12 col-sm-6 col-md-3">
						<i class="ti ti-mobile text-dark margin-bottom-20"></i>
						<h6 class="font-weight-normal margin-0">Phone:</h6>
						<p>+(987) 654 321 01</p>
					</div>
					<div class="col-12 col-sm-6 col-md-3">
						<i class="ti ti-skype text-dark margin-bottom-20"></i>
						<h6 class="font-weight-normal margin-0">Skype:</h6>
						<p>contact.skype</p>
					</div>
					<div class="col-12 col-sm-6 col-md-3">
						<i class="ti ti-location-pin text-dark margin-bottom-20"></i>
						<h6 class="font-weight-normal margin-0">Address:</h6>
						<p>121 King St, Melbourne VIC 3000</p>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>




        <div class="section padding-top-0">
			<div class="container">
				<div class="contact-form">
					<form method="post" id="contactform">
						<div class="form-row">
							<div class="col-12 col-sm-6">
								<input type="text" id="name" name="name" placeholder="Name" required="">
							</div>
							<div class="col-12 col-sm-6">
								<input type="email" id="email" name="email" placeholder="E-Mail" required="">
							</div>
						</div>
						<input type="text" id="subject" name="subject" placeholder="Subject" required="">
						<textarea name="message" id="message" placeholder="Message"></textarea>
						<button class="button button-lg button-outline-dark-2" type="submit">Send Message</button>
					</form>
					<!-- Submit result -->
					<div class="submit-result">
						<span id="success">Thank you! Your Message has been sent.</span>
						<span id="error">Something went wrong, Please try again!</span>
					</div>
				</div></div></div>