<div class="section-xl bg-image parallax" data-bg-src="../assets/images/agency-classic-bg-2.jpg"
style="background-image: url(&quot;../assets/images/agency-classic-bg-2.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 0px;">
    <div class="bg-black-06">
        <div class="container text-center">
            <h1 class="font-weight-light">Services</h1>
            @* <nav aria-label="breadcrumb">
                <ul class="breadcrumb breadcrumb-font-3">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Services</li>
                </ul>
                </nav> *@
        </div><!-- end container -->
    </div>
</div>









<div class="hm_about_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="hm_about_img">
                            <img src="https://images.pexels.com/photos/2294342/pexels-photo-2294342.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="handmade-craft-about" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="hm_about_data">
                            <h1><span class="hm_color">Welcome</span> To Aone punching</h1>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover </p>
                            <p>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                            <a href="#" class="hm_btn">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
























      

    </div>
</div>
<div class="hm_artist_wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h1 class="hm_heading"><span class="hm_color">Our</span> Services</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="hm_artist_inner">
                            <div class="col-lg-6 col-md-6">
                                <div class="hm_artist_box">
                                    <div class="artist_img">
                                        <img src="../assets/images/33.jpg" alt="handmade-craft-artist1" class="img-responsive" style="width:100%;height:30.3vh;">
                                    </div>
                                    <div class="artist_data">
                                        <h3>DIGITILIZING</h3>
                                        <p class="artist_post">Aone PUNCHING</p>
                                        <p class="artist_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tempus erat, et luctus quam. Maecenas cursus porta tortor, vel consectetur ante volutpat imperdiet. </p>
                                        <ul class="artist_social">
                                            <li><a href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="ti-google" aria-hidden="true"></i></a>
                                            </li>
                                            <li><a href="#"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="hm_artist_box">
                                    <div class="artist_img">
                                        <img src="../assets/images/22.jpg" alt="handmade-craft-artist2" class="img-responsive" style="width:100%;height:30.3vh;">
                                    </div>
                                    <div class="artist_data">
                                        <h3>VECTOR ART</h3>
                                        <p class="artist_post">Aone PUNCHING</p>
                                        <p class="artist_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tempus erat, et luctus quam. Maecenas cursus porta tortor, vel consectetur ante volutpat imperdiet. </p>
                                        <ul class="artist_social">
                                            <li><a href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="ti-google" aria-hidden="true"></i></a>
                                            </li>
                                            <li><a href="#"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="hm_artist_box artist_right_image">
                                    <div class="artist_data">
                                        <h3>CUSTOMIZED MERCHENDISE</h3>
                                        <p class="artist_post">Aone PUNCHING</p>
                                        <p class="artist_para">Lorem ipsum dolor sit amet, . Maecenas cursus porta tortor, vel consectetur ante volutpat imperdiet. </p>
                                        <ul class="artist_social">
                                            <li><a href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="ti-google" aria-hidden="true"></i></a>
                                            </li>
                                            <li><a href="#"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="artist_img">
                                        <img src="../assets/images/11.jpg" alt="handmade-craft-artist3" class="img-responsive" style="width:100%;height:30vh;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="hm_artist_box artist_right_image">
                                    <div class="artist_data">
                                        <h3>PATCHES</h3>
                                        <p class="artist_post">Aone PUNCHING</p>
                                        <p class="artist_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tempus erat, et luctus quam. Maecenas cursus porta tortor, vel consectetur ante volutpat imperdiet. </p>
                                        <ul class="artist_social">
                                            <li><a href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="ti-google" aria-hidden="true"></i></a>
                                            </li>
                                            <li><a href="#"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="artist_img">
                                        <img src="../assets/images/44.jpg" alt="handmade-craft-artist4" class="img-responsive" style="width:100%;height:30.3vh;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div class="section padding-top-0">
    <div class="container">
        <h3 class="font-weight-normal text-center margin-bottom-50">Techniques</h3>
        <div class="owl-carousel owl-loaded owl-drag" data-owl-nav="true" data-owl-dots="false" data-owl-margin="10"
        data-owl-xs="1" data-owl-sm="1" data-owl-md="2" data-owl-lg="3" data-owl-xl="3">




            <div class="owl-stage-outer owl-height" style="height: 234.062px;">
                <div class="owl-stage"
                style="transform: translate3d(-326px, 0px, 0px); transition: all 0.25s ease 0s; width: 1304px;">
                    <div class="owl-item" style="width: 316px; margin-right: 10px;">
                        @* <div>
                            <img src="../assets/images/photographer-minimal-1.jpg" alt="">
                        </div> *@
                        <div class="hoverbox-2">
                                <img src="../assets/images/photographer-minimal-1.jpg" alt="">
                                <div class="hover-content">
                                    <h5>Heading</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                        ligula eget
                                        dolor. Aenean massa.</p>
                                </div>
                            </div>
                    </div>
                    <div class="owl-item active" style="width: 316px; margin-right: 10px;">
                          @* <div>
                            <img src="../assets/images/photographer-minimal-4.jpg" alt="">
                        </div> *@
                        <div  class="hoverbox-2">
                            <img src="../assets/images/photographer-minimal-4.jpg" alt="">
                             <div class="hover-content">
                                    <h5>Heading</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                        ligula eget
                                        dolor. Aenean massa.</p>
                                </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 316px; margin-right: 10px;">
                         @* <div>
                            <img src="../assets/images/photographer-minimal-3.jpg" alt="">
                        </div> *@
                        <div class="hoverbox-2">
                            <img src="../assets/images/photographer-minimal-3.jpg" alt="">
                            <div class="hover-content">
                                    <h5>Heading</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                        ligula eget
                                        dolor. Aenean massa.</p>
                                </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 316px; margin-right: 10px;">
                        <div>
                            <img src="../assets/images/photographer-minimal-6.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i
                    class="ti-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i
                    class="ti-angle-right"></i></button></div>
            <div class="owl-dots disabled"></div>
        </div>

    </div><!-- end container -->
</div>

<div class="section-xl bg-image parallax" data-bg-src="../assets/images/corporate-5-parallax.jpg" style="background-image: url(&quot;../assets/images/corporate-5-parallax.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 166.375px;">
			<div class="bg-black-05">
				<div class="container text-right">
					<h1 class="font-weight-light">Create your perfect website <br> today with Mono</h1>
					<a class="button button-lg button-radius button-white-3 margin-top-20" href="#">Start Now</a>
				</div><!-- end container -->
			</div>
		</div>
<div class="section-sm" style="padding: 0%;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <!-- 1 -->
                <div class="padding-40 border-all border-radius hover-shadow">
                    <h4 class="font-weight-normal">Advantages</h4>
                    <div class="divider-width-40px margin-bottom-20">
                        <hr class="bg-black-05">
                    </div>
                    @* <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim.</p> *@
                    <div class="margin-top-20">
                        @* <h6 class="font-family-tertiary font-small font-weight-normal uppercase">Requirements:</h6>
                        *@
                        <ul class="list-dash">
                            <li>Machine friendly</li>
                            <li>Fastest turnaround</li>
                            <li>Free revisions</li>
                            <li>24/7 customer assistance</li>
                            <li>Free quotes prior order placement (if requested)</li>
                            <li>Flexible pricing</li>
                            <li>Sample sew-out for your order</li>
                            <li>Multiple machine/software formats (as required)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/assets/js/jquery.js"></script>
<script src="~/assets/plugins/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        
   

    $('.btn2').click(function () {
    $('#second').show();
    $('#first').hide();
    });
     $('.btn1').click(function () {
    $('#second').hide();
    $('#first').show();
    });
    
  });
</script>
