<div class="section-xl bg-image parallax" data-bg-src="../assets/images/corporate-clean-bg.jpg" style="background-image: url(&quot;../assets/images/corporate-clean-bg.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 0px;">
			<div class="bg-black-06">
				<div class="container text-center">
					<h1 class="font-weight-light margin-0">FAQ</h1>
				</div><!-- end container -->
			</div>
		</div>
		<br>
<div class="container">
	 <h1 class="h1"> FAQ</h1>
            <div class="m11"><h3>These are the questions our customers ask most frequently</h3></div>
    <br>
	<br>
	<div class="row">
        <div class="col-lg-4">
            <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
                <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1" aria-selected="true">
                    <i class="mdi mdi-help-circle"></i> Frequently Asked Questions
                </a>
                
                <a href="#tab5" class="nav-link " data-toggle="pill" role="tab" aria-controls="tab5" aria-selected="false">
                    <i class="mdi mdi-coin"></i> DIGITILIZING & VECTOR ART
                </a>
                <a href="#tab6" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab6" aria-selected="false">
                    <i class="mdi mdi-help"></i> PATCHES
                </a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="tab-content" id="faq-tab-content">
                
                <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                    <div class="accordion" id="accordion-tab-5">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-1" aria-expanded="false" aria-controls="accordion-tab-5-content-1" style="font-size: medium;">Q. WHAT FORMAT OF PICTURE SHOULD I SEND?</button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-5-content-1" aria-labelledby="accordion-tab-5-heading-1" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>A. You may send your pictures in any format such as </p>
                                    <p><strong>Example: </strong>.jpg, .tif, .gif, .bmp, .pdf, png, AI, CDR. But the preferable one is .jpg..</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-2" aria-expanded="false" aria-controls="accordion-tab-5-content-2" style="font-size: medium;">Q. CAN YOU COPE WITH A ROUGH ARTWORK OR A GARMENT TO COPY?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-2" aria-labelledby="accordion-tab-5-heading-2" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>Yes, we have an art department that can cope with all the hassle of bad artwork, provided that you give us clear instructions on what to do. However, the better the artwork, the better the final product.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-3" aria-expanded="false" style="font-size: medium;" aria-controls="accordion-tab-5-content-3">Q. HOW IS THE PAYMENT DONE?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-3" aria-labelledby="accordion-tab-5-heading-3" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>A. We accept all the wire transfer payment methods that include Mastercard, visa card, American Express, PayPal etc</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-4">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-4" aria-expanded="false" aria-controls="accordion-tab-5-content-4" style="font-size: medium;">Q. DO YOU PROVIDE ACTUAL SEW-OUTS?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-4" aria-labelledby="accordion-tab-5-heading-4" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>A. Yes, we provide actual sew-outs to ensure quality and customer satisfaction. </p>
                                </div>
                            </div>
                        </div>
						
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-5">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-5" aria-expanded="false" aria-controls="accordion-tab-5-content-5" style="font-size: medium;">Q. DO YOU CHARGE A FEE FOR EDITS?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-5" aria-labelledby="accordion-tab-5-heading-5" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>A. No, Minor edits are done free. However, we would be charging If there is a major change in the design. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-6">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-6" aria-expanded="false" aria-controls="accordion-tab-5-content-6" style="font-size: medium;">Q. HOW CAN I PLACE AN ORDER/QUOTE?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-6" aria-labelledby="accordion-tab-5-heading-6" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>A. Please email us your requirements, you shall then receive an order confirmation email from our team.  </p>
                                </div>
                            </div>
                        </div>
                   
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-7">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-7" aria-expanded="false" aria-controls="accordion-tab-5-content-7" style="font-size: medium;">Q. WHAT IS YOUR AVG. TURNAROUND TIME FOR ORDERS?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-7" aria-labelledby="accordion-tab-5-heading-7" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>A. For Digitizing and Vector turnaround time range from 4 hours to 24 hours depending on Artwork size and complexity.   </p>
                                </div>
                            </div>
                        </div>
						
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-8">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-8" aria-expanded="false" aria-controls="accordion-tab-5-content-8" style="font-size: medium;">Q. HOW DO YOU ENSURE QUALITY? WHAT IF I DO NOT LIKE MY ORDER?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-8" aria-labelledby="accordion-tab-5-heading-8" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>A. Our files are designed/punched by professional digitizers/vector artists that are made to meet your expectations. Still if you don’t like our design, we’ll redo or refund it for your </p>
                                </div>
                            </div>
                        </div>
				        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-9">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-9" aria-expanded="false" aria-controls="accordion-tab-5-content-9" style="font-size: medium;">Q. DO WE KEEP BACK UP OF CLIENT FILES?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-9" aria-labelledby="accordion-tab-5-heading-9" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>A. Yes, backups are available. All client files are stored and can be provided if required.  </p>
                                </div>
                            </div>
                        </div>
				        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-10">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-10" aria-expanded="false" aria-controls="accordion-tab-5-content-10" style="font-size: medium;">Q. HOW WOULD I KNOW ONCE MY FILE IS READY?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-10" aria-labelledby="accordion-tab-5-heading-10" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>A. Once your design is ready, you will receive an email notification with attachments. </p>
                                </div>
                            </div>
                        </div>
				    </div>
                </div>
                <div class="tab-pane" id="tab6" role="tabpanel" aria-labelledby="tab6">
                    <div class="accordion" id="accordion-tab-6">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-6-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-1" aria-expanded="false" aria-controls="accordion-tab-6-content-1" style="font-size: medium;">Q. HOW CAN I PLACE AN ORDER/QUOTE?</button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-6-content-1" aria-labelledby="accordion-tab-6-heading-1" data-parent="#accordion-tab-6">
                                <div class="card-body">
                                    <p>A. Please email us your requirements, you shall then receive an order confirmation email from our team. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-6-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-2" aria-expanded="false" aria-controls="accordion-tab-6-content-2" style="font-size: medium;">Q: How many colors can I get on each custom patch?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-6-content-2" aria-labelledby="accordion-tab-6-heading-2" data-parent="#accordion-tab-6">
                                <div class="card-body">
                                    <p>A. Maximum 9 colors without extra cost for unit price, for every additional one color, unit price will be increased slightly. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-6-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-3" aria-expanded="false" aria-controls="accordion-tab-6-content-3" style="font-size: medium;">Q. Are your custom patches machine washable?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-6-content-3" aria-labelledby="accordion-tab-6-heading-3" data-parent="#accordion-tab-6">
                                <div class="card-body">
                                    <p>A. Yes, we have tested embroidered custom patches both sew on and iron on. Have put them through a wash and dryer several times, and the patch remained on the garment. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-6-heading-4">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-4" aria-expanded="false" aria-controls="accordion-tab-6-content-4" style="font-size: medium;">Q. How long will it take to receive my patches?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-6-content-4" aria-labelledby="accordion-tab-6-heading-4" data-parent="#accordion-tab-6">
                                <div class="card-body">
                                    <p>A. You will receive your order in 3 to 4 weeks depending on quantity, size and complexity. </p>
                                </div>
                            </div>
                        </div>
						<div class="card">
                            <div class="card-header" id="accordion-tab-6-heading-5">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-5" aria-expanded="false" aria-controls="accordion-tab-6-content-5" style="font-size: medium;">Q.  What backings are available for embroidered patches?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-6-content-5" aria-labelledby="accordion-tab-6-heading-5" data-parent="#accordion-tab-6">
                                <div class="card-body">
                                    <p>A. Below backing are available:<br>
No backing (sew-on)<br>
Iron-On backing<br>
Self-Adhesive backing<br>
Velcro backing
</p>
                                </div>
                            </div>
                        </div>
						  <div class="card">
                            <div class="card-header" id="accordion-tab-6-heading-6">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-6" aria-expanded="false" aria-controls="accordion-tab-6-content-6" style="font-size: medium;">Q. I have an existing patch; can you duplicate it?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-6-content-6" aria-labelledby="accordion-tab-6-heading-6" data-parent="#accordion-tab-6">
                                <div class="card-body">
                                    <p>A. We definitely can.  Just take a picture of your patch and we will be able to replicate it almost exactly.	 </p>
                                </div>
                            </div>
                        </div>
							  <div class="card">
                            <div class="card-header" id="accordion-tab-6-heading-7">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-7" aria-expanded="false" aria-controls="accordion-tab-6-content-7" style="font-size: medium;">Q. What’s the minimum amount of pieces I can order?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-6-content-7" aria-labelledby="accordion-tab-6-heading-7" data-parent="#accordion-tab-6">
                                <div class="card-body">
                                    <p>A. We accept minimum orders of 50 pieces, However, in special cases we can produce less quantity as well however the price would increase depending on design and quantity of units.  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        <div class="section-lg">
			<div class="container">
				<div class="row col-spacing-50">
					<div class="col-12 col-lg-12">
						@* <div class="margin-bottom-30">
							<h4>Refund Policy</h4>
						</div> *@
						<div>
							<h6 class="font-weight-normal">WHAT FORMAT OF PICTURE SHOULD I SEND?</h6>
							<p>You may send your pictures in any format such as .jpg, .tif, .gif, .bmp, .pcx, .cpt, ect. But the preferable one is .jpg.</p>
						</div>
						<div class="margin-top-30">
							<h6 class="font-weight-normal">CAN YOU COPE WITH A ROUGH ARTWORK OR A GARMENT TO COPY?</h6>
							<p>Yes, we have an art department that can cope with all the hassle of bad artwork, provided that you give us clear instructions on what to do.</p>
						</div>
						<div class="margin-top-30">
							<h6 class="font-weight-normal">HOW IS THE PAYMENT DONE?</h6>
							<p>You shouldn't include this template for your selling product or directly resell it to someone.</p>
						</div>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>