﻿
			<div class="bg-black-1">

			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 bg-black-08" src="../assets/images/2222.jpg" alt="First slide" style="height: 100vh;">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 bg-black-08" src="../assets/images/3333.jpg" alt="Second slide" style="height: 100vh;">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 bg-black-08" src="../assets/images/5555.jpg" alt="Third slide" style="height: 100vh;"> 
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
		</div>




		<!-- About section -->
		<div id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="margin-bottom-30">
							<h2 class="font-weight-normal uppercase margin-0">About Us</h2>
							<div class="divider-zigzag divider-zigzag-color-black-03">
								<span></span><span></span><span></span>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-8">
						<div class="margin-bottom-30">
							<h3 class="font-weight-light"><img src="https://fontmeme.com/permalink/201026/14a2f46d4d88e727a9f372ac6fc7cdb9.png" alt="graffiti-creator" border="0" style="width: 40%;"></h3>
							<p>Aone Punching is a “one-stop” digitizing/vector art service provider, which specializes in digitizing,
								vector art designing, custom patches &amp; customized merchandise. With over 10 years of experience,
								we are the first choice of customers throughout the globe. We have a footprint of over 5000+
								satisfied clients from different parts of the world including USA, Canada, UK, Australia etc.</p>
						</div>
						<!-- Skills -->
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="progress-box">
		                            <h6 class="font-weight-normal">Digitizing</h6>
		                            <div class="progress">
		                                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
		                                    <span>100%</span>
		                                </div>
		                            </div>
		                        </div>
							</div>
							<div class="col-12 col-md-6">
								<div class="progress-box">
		                            <h6 class="font-weight-normal">Vector Art</h6>
		                            <div class="progress">
		                                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
		                                    <span>85%</span>
		                                </div>
		                            </div>
		                        </div>
							</div>
							<div class="col-12 col-md-6">
								<div class="progress-box">
		                            <h6 class="font-weight-normal">Patches</h6>
		                            <div class="progress">
		                                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
		                                    <span>95%</span>
		                                </div>
		                            </div>
		                        </div>
							</div>
							<div class="col-12 col-md-6">
								<div class="progress-box">
		                            <h6 class="font-weight-normal">Customized Merchandise</h6>
		                            <div class="progress">
		                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
		                                    <span>90%</span>
		                                </div>
		                            </div>
		                        </div>
							</div>
						</div><!-- end row -->
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		<!-- end About section -->

























		<hr style="widht:100%; color:black; padding:0.5;	">
	<div >
			<div class="container">
				<div class="margin-bottom-30">
					@* <div class="row align-items-end col-spacing-20">
						<div class="col-12 col-lg-8 col-xl-7">
							<h3 class="font-weight-light">OUR SERVICES</h3>
						</div>
						<div class="col-12 col-lg-4 col-xl-5 text-lg-right">
						</div>
					</div> *@
					<div >
						<div>
							<h2 class="font-weight-normal uppercase	" style="text-align: center; paddimg:0;"><span style="color:crimson; margin:0; padding:0;">Our</span> Services</h2>
							<hr style="width: 80px; padding:1px; background-color:crimson; margin:auto;	">
							<div class="divider-zigzag divider-zigzag-color-black-03">
								<span></span><span></span><span></span>
							</div>
						</div>
					</div>
				</div>


			</div><!-- end container -->
		</div>
	


				<div class="container1">
  <div class="box"><h3 class="head"><span class="span1">DIGITILIZING</span></h3></div>
  <div class="box"><h3 class="head"><span class="span1">PATCHING</span></h3></div>
  <div class="box"><h3 class="head"><span class="span1">VISUAL ART</span></h3></div>
  <div class="box"><h3 class="head"><span class="span1">CUSTOMIZED</span></h3></div>

</div>
<!-- Services section -->
		<div class="section">
			<div>
							<h2 class="font-weight-normal uppercase	" style="text-align: center; paddimg:0;"><span style="color:crimson; margin:0; padding:0;">Our</span> PROJECT</h2>
							<hr style="width: 80px; padding:1px; background-color:crimson; margin:auto;	">
							<div class="divider-zigzag divider-zigzag-color-black-03">
								<span></span><span></span><span></span>
							</div>
						</div>
			<div class="container">
				<div class="row margin-top-70 text-center">
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter" style="color: crimson;">47</span></h2>
						<p>Professionals</p>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter" style="color: crimson;">100</span>+</h2>
						<p>Projects Done</p>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter" style="color: crimson;">36</span></h2>
						<p>Months in Business</p>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter" style="color: crimson;">300</span>+</h2>
						<p>Happy Clients</p>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter" style="color: crimson;">14</span></h2>
						<p>Partners</p>
					</div>
					<div class="col-6 col-md-4 col-lg-2">
						<h2 class="font-weight-light margin-0"><span class="counter">20</span>+</h2>
						<p>Award Wins</p>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		<!-- end Services section -->
		
<main class="site-wrapper" >
  <div class="pt-table desktop-768">
    <div class="page-home relative" style="background-image: url(https://images.unsplash.com/photo-1486870591958-9b9d0d1dda99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-position: center;
    background-size: cover;
	height:60%;
	overflow:hidden;">
                    <div class="overlay"></div>

                    <div class="container" >
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title  home text-center">
                                  <span class="heading-page"> ADVANTAGES
                                  </span>
                                </div>

                                <div class="hexagon-menu clear">
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="" target="_blank" class="hex-content service1">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="ti-ruler-pencil"></i>
                                                </span>
                                                <span class="title">FASTEST TURNAROUND</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
									
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="" target="_blank" class="hex-content service2">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="ti-star"></i>
                                                </span>
                                                <span class="title">24/7 customer support</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="" target="_blank" class="hex-content service3">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="ti-world"></i>
                                                </span>
                                                <span class="title">In-house operations</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>    
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                 
                                        <a href="" target="_blank" class="hex-content service4">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="ti-camera"></i>
                                                </span>
                                                <span class="title">Easy & Secure Payments</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="" target="_blank" class="hex-content service5">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="ti-mobile"></i>
                                                </span>
                                                <span class="title">Competitive & Flexible Pricing</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="" target="_blank" class="hex-content service6">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="ti-comment-alt"></i>
                                                </span>
                                                <span class="title">Privacy of Data</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
									
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </main>

		<!-- Testimonial section -->
		<div class="section bg-danger text-white" style="color:white; background-color:#cc3b3b;">
			<div class="container" style="color:white;">
				<div class="margin-bottom-50 text-center">
					<h6 class="font-family-tertiary font-small font-weight-normal uppercase" style="color:white;">What People Say?</h6>
				</div>
				<div class="owl-carousel" data-owl-nav="true" data-owl-margin="30" data-owl-xs="1" data-owl-sm="1" data-owl-md="1" data-owl-lg="2" data-owl-xl="2" style="color:white;">
					<!-- 1 -->
					<div class="border-all border-radius padding-40">
						<div class="d-flex align-items-center margin-bottom-20">
							<div class="d-inline-block margin-right-20">
								<img class="img-circle-sm" src="../assets/images/testimonial-1.jpg" alt="">
							</div>
							<div class="d-inline-block">
								<h5 class="font-weight-normal margin-0 line-height-130" style="color:white;">Emiley Haley</h5>
								<span class="font-small">Manager - Mono</span>
							</div>
						</div>
						<p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
					</div>
					<!-- 2 -->
					<div class="border-all border-radius padding-40">
						<div class="d-flex align-items-center margin-bottom-20">
							<div class="d-inline-block margin-right-20">
								<img class="img-circle-sm" src="../assets/images/testimonial-2.jpg" alt="">
							</div>
							<div class="d-inline-block">
								<h5 class="font-weight-normal margin-0 line-height-130" style="color:white;">Andrew Palmer</h5>
								<span class="font-small">Developer - Mono</span>
							</div>
						</div>
						<p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
					</div>
					<!-- 3 -->
					<div class="border-all border-radius padding-40">
						<div class="d-flex align-items-center margin-bottom-20">
							<div class="d-inline-block margin-right-20">
								<img class="img-circle-sm" src="../assets/images/testimonial-3.jpg" alt="">
							</div>
							<div class="d-inline-block">
								<h5 class="font-weight-normal margin-0 line-height-130" style="color:white;">Anna Mullen</h5>
								<span class="font-small">Designer - Mono</span>
							</div>
						</div>
						<p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
					</div>
					<!-- 4 -->
					<div class="border-all border-radius padding-40">
						<div class="d-flex align-items-center margin-bottom-20">
							<div class="d-inline-block margin-right-20">
								<img class="img-circle-sm" src="../assets/images/testimonial-4.jpg" alt="">
							</div>
							<div class="d-inline-block">
								<h5 class="font-weight-normal margin-0 line-height-130"style="color:white;">John Smith</h5>
								<span class="font-small">Marketer - Mono</span>
							</div>
						</div>
						<p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
					</div>
				</div><!-- end owl-carousel -->
			</div><!-- end row -->
		</div>
		<!-- end Testimonial section -->



		<!-- Parallax section -->
		<div class="section-xl bg-image parallax" data-bg-src="../assets/images/1s.jpg">
			<div class="bg-black-06">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-12 col-lg-7">
							<h1 class="font-weight-normal uppercase letter-spacing-1">We Are Always Ready</h1>
							<p>Do you have a challenge for us? We are more than happy to accept it!</p>
						</div>
						<div class="col-12 col-lg-5 text-lg-right">
							<a class="button button-xl button-radius button-reveal-right-outline-white" href="#"><span>Get In Touch</span><i class="ti-arrow-right"></i></a>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
		</div>
		<!-- end Parallax section -->
		

	<script src="https://unpkg.com/@@popperjs/core@@2/dist/umd/popper.min.js"></script>
	<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script>

	var txt = '<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys' 
	txt += 'standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>'

      // With the above scripts loaded, you can call `tippy()` with a CSS
      // selector and a `content` prop:
      tippy('.service1, .service2, .service3, .service4, .service5, .service6', {
        content: txt,
		allowHTML: true,
      });
    </script>