<div class="section-xl">
			<div class="container text-center">
				<div class="row">
					<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
						<h1 class="display-4 font-weight-bold margin-bottom-20">Are you short of timeline!</h1>
						<h4 class="font-weight-extra-light margin-0 text-black-06">Looking for Embroidered Patches in A-one Quality and Affordable Prices?</h4>
						<h6 class="font-weight-extra-light margin-0 text-black-06">We are here to provide you with best solutions </h4>
                        <p style="text-align: center;">Click below to order now</p>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>


        <div class="section-xl bg-image parallax" data-bg-src="https://images.unsplash.com/photo-1529458600305-b5bdde535770?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" style="background-image: url(&quot;https://images.unsplash.com/photo-1529458600305-b5bdde535770?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 260.45px;">
			<div class="bg-black-08">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-10 offset-md-1">
							<div class="row align-items-center">
								<div class="col-12 col-lg-8 text-center text-lg-left">
									<h1 class="font-weight-extra-light marin-0">How we work ?</h1>
									<p>Once we receive your artwork, our team of experts will review it to figure out whether its suitable for digitizing or not. 
                                        If it’s not suitable, we will redraw it and then proceed into digitizing. After machine test, we shall provide you sample 
                                        sew-out along with the pricing according to the quantity of patches. As soon as we receive your go-ahead, production would
                                        start ensuring strict quality measures. Once production is completed, each patch would be checked by the quality assurance 
                                        team for any errors. Patches would then be carefully packed before they are dispatched to you as per committed timeline.</p>
								</div>
								<div class="col-12 col-lg-4 text-center text-lg-right">
									<a class="button button-xl button-radius button-outline-white-2" href="#">Order Now</a>
								</div>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
		</div>


<div class="section padding-10">
			<div class="container-fluid">
				<div class="portfolio-wrapper column-3 spacing-20 hover-style-5 border-radius-025" style="position: relative; height: 1132.94px;">
					<!-- Portfolio box 1 -->
					<div class="portfolio-item category-1" style="position: absolute; left: 0px; top: 0px;">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="https://ae01.alicdn.com/kf/HTB16AbtbcrrK1Rjy1zeq6xalFXa1/MORUANCLE-Men-s-Patched-Denim-Jackets-New-Fashion-Jean-Jacket-Outerwear-With-Patchwork-Washed-Blue-Size.jpg" alt="">
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h5>Jackets</h5>
									<span>$500 - $10,000</span><br>
									<span>$10,000 - $20,000</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 2 -->
						<div class="portfolio-item category-2" style="position: absolute; left: 520px; top: 0px;">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="https://www.thestudio.com/wp-content/uploads/2019/04/Headwear-Feature.png" alt="">
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h5>Caps</h5>
									<span>$500 - $10,000</span><br>
									<span>$10,000 - $20,000</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 3 -->
					<div class="portfolio-item category-3" style="position: absolute; left: 1041px; top: 0px;">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="https://i.pinimg.com/originals/60/92/39/6092393941864711c86819f862dc9e51.jpg" alt="">
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h5>String Bags</h5>
									<span>$500 - $10,000</span><br>
									<span>$10,000 - $20,000</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 4 -->
					<div class="portfolio-item category-2" style="position: absolute; left: 520px; top: 429px;">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2020%2F03%2Fraf-simons-applique-patch-hoodie-release-003.jpg?quality=95&w=1170&cbr=1&q=90&fit=max" alt="">
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h5>Hoodies</h5>
									<span>$500 - $10,000</span><br>
									<span>$10,000 - $20,000</span>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Portfolio box 5 -->
					<div class="portfolio-item category-1" style="position: absolute; left: 0px; top: 703px;">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="../assets/images/portfolio-minimal-5.jpg" alt="">
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h5>Pencils</h5>
									<span>Category</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 6 -->
					<div class="portfolio-item category-3" style="position: absolute; left: 1041px; top: 703px;">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="../assets/images/portfolio-minimal-6.jpg" alt="">
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h5>Dark grey phone</h5>
									<span>Category</span>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end portfolio-wrapper-->
			</div><!-- end container -->
		</div>


        <div class="section border-top">
			<div class="container">
				<div class="text-center">
					<div class="row">
						<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
							<h2 class="font-weight-normal">Why Choose Us</h2>
						</div>
					</div><!-- end row -->
				</div>
			</div><!-- end container -->
		</div>

        <div class="section padding-top-0">
			<div class="container">
				<div class="row col-spacing-60 align-items-center">
					<div class="col-12 col-lg-6">
						<div class="row col-spacing-20 text-center">
							<!-- Feature box 1 -->
							<div class="col-6">
								<div class="border border-radius-05 padding-30 padding-lg-y-40 hover-shadow">
									<h6 class="font-weight-medium font-small uppercase margin-0">Free Samples</h6>
									<p>Actual sample picture provided free</p>
								</div>
							</div>
							<!-- Feature box 2 -->
							<div class="col-6">
								<div class="border border-radius-05 padding-30 padding-lg-y-40 hover-shadow">
									<h6 class="font-weight-medium font-small uppercase margin-0">Free Artwork setup</h6>
									<p>Free setup of Artwork as required</p>
								</div>
							</div>
							<!-- Feature box 3 -->
							<div class="col-6">
								<div class="border border-radius-05 padding-30 padding-lg-y-40 hover-shadow">
									<h6 class="font-weight-medium font-small uppercase margin-0">Free quotation</h6>
									<p>Stitch count, Sew-outs & pricing to be shared prior actual order</p>
								</div>
							</div>
							<!-- Feature box 4 -->
							<div class="col-6">
								<div class="border border-radius-05 padding-30 padding-lg-y-40 hover-shadow">
									<h6 class="font-weight-medium font-small uppercase margin-0">Free Shipment over bulk quantity</h6>
									<p>Free delivery over 1000 pieces</p>
								</div>
							</div>
						</div><!-- end row(inner) -->
					</div>
					<div class="col-12 col-lg-6">
						<!-- Feature box 1 -->
						<div class="feature-box dark">
							<div class="feature-box-icon">
								<i class="far fa-file"></i>
							</div>
							<h5 class="font-weight-normal">Lowest Prices </h5>
							<p>Get your patches in lowest market rates.</p>
						</div>
						<!-- Feature box 2 -->
						<div class="feature-box dark margin-top-30">
							<div class="feature-box-icon">
								<i class="fas fa-list"></i>
							</div>
							<h5 class="font-weight-normal">Fastest turnaround </h5>
							<p>Delivery to be made within 15 days</p>
						</div>
						<!-- Feature box 3 -->
						<div class="feature-box dark margin-top-30">
							<div class="feature-box-icon">
								<i class="far fa-comment-dots"></i>
							</div>
							<h5 class="font-weight-normal">Re-do of patches if not satisfied </h5>
							<p>If you are not satisfied with the quality, we’ll re-do it. </p>
						</div>
						<!-- Feature box 3 -->
						<div class="feature-box dark margin-top-30">
							<div class="feature-box-icon">
								<i class="far fa-comment-dots"></i>
							</div>
							<h5 class="font-weight-normal">24/7 customer support </h5>
							<p>our expert team is available 24/7 to assist you. </p>
						</div>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>