<div class="section-xl">
			<div class="container text-center">
				<div class="row">
					<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
						<h1 class="display-4 font-weight-bold margin-bottom-20">Hello!</h1>
						<h4 class="font-weight-extra-light margin-0 text-black-06">Imagine if you could choose your own color and quality of shirt or cap and 
							get it customized with your own logo in lowest rates and fastest turnaround?</h4>
						<h6 class="font-weight-extra-light margin-0 text-black-06">You can now with Aone Punching, your one-stop embroidery solution provider </h4>
                        <p style="text-align: center;">Click below to order now</p>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>



		<div class="section-xl bg-image parallax" data-bg-src="https://free4kwallpapers.com/uploads/originals/2019/04/15/city-vector-panorama-wallpaper.jpg" style="background-image: url(&quot;https://free4kwallpapers.com/uploads/originals/2019/04/15/city-vector-panorama-wallpaper.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 260.45px;">
			<div class="bg-black-08">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-10 offset-md-1">
							<div class="row align-items-center">
								<div class="col-12 col-lg-8 text-center text-lg-left">
									<h1 class="font-weight-extra-light marin-0">Work process</h1>
									<p>We have a set of available articles and colors for customers to choose from. Once the customer 
										has chosen the desired article, he/she would share the artwork with us and our team of experts
										will review it to figure out whether its suitable for embroidery or not. If it’s not suitable,
										we will redraw/modify it and then proceed. Logo placement mock up to be shown to customer before
										proceeding into sample. After sample has been approved production would commence.</p>
								</div>
								<div class="col-12 col-lg-4 text-center text-lg-right">
									<a class="button button-xl button-radius button-outline-white-2" href="#">Order Now</a>
								</div>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
		</div>






		
<div class="section padding-10">
			<div class="container-fluid">
				<div class="portfolio-wrapper column-3 spacing-20 hover-style-5 border-radius-025" style="position: relative; height: 1132.94px;">
					<!-- Portfolio box 1 -->
					<div class="portfolio-item category-1" style="position: absolute; left: 0px; top: 0px;">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="https://i.pinimg.com/originals/c5/75/77/c57577374f8594f7f7606f2b54e7295b.jpg" alt="">
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h5>Jackets</h5>
									<span>$500 - $10,000</span><br>
									<span>$10,000 - $20,000</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 2 -->
					<div class="portfolio-item category-2" style="position: absolute; left: 520px; top: 0px;">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="https://sc02.alicdn.com/kf/HTB1gC3SJVXXXXbvXXXXq6xXFXXXT.jpg" alt="">
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h5>Caps</h5>
									<span>$500 - $10,000</span><br>
									<span>$10,000 - $20,000</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 3 -->
					<div class="portfolio-item category-3" style="position: absolute; left: 1041px; top: 0px;">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="https://www.a.ubuy.com.kw/productimg/?image=aHR0cHM6Ly9pbWFnZXMtbmEuc3NsLWltYWdlcy1hbWF6b24uY29tL2ltYWdlcy9JLzYxckNxaEttMnBMLl9TUzQwMF8uanBn.jpg" alt="">
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h5>String Bags</h5>
									<span>$500 - $10,000</span><br>
									<span>$10,000 - $20,000</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 4 -->
					<div class="portfolio-item category-2" style="position: absolute; left: 520px; top: 429px;">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="https://images-na.ssl-images-amazon.com/images/I/61eb7cg8U9L._UY550_.jpg" alt="">
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h5>Hoodies</h5>
									<span>$500 - $10,000</span><br>
									<span>$10,000 - $20,000</span>
								</div>
							</div>
						</div>
					</div>
					
				</div><!-- end portfolio-wrapper-->
			</div><!-- end container -->
		</div>

